/* style.css */
.stApp {
    background-color: #ffc107;
}

.main {
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    padding: 2rem;
    border-radius: 15px;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #1b4f72;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.stButton button {
    background-color: #2e86c1;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.stButton button:hover {
    background-color: #1b4f72;
}

.card {
    background: none;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.progress-bar {
    background: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    margin: 1rem 0;
}

.progress-bar-fill {
    background: #2e86c1;
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

/* Form Styling used in accordance with w3schools.com*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }